{% extends 'books/base.html' %}
{% load static %}
{% block title %}
    {{ request.user.username }}'s Bookshelf
{% endblock %}

{% block body %}
    <div class="col-lg-8" style="margin-top: 100px">
        <h2>{{ book.book_title }}</h2>
        <p>{% for word, meaning, color in book_content %}<span title="{{ meaning }}" style="color: {{ color }};font-size: 30px;font-family: 'Times New Roman'">{{word}} </span>{% endfor %}</p>

    </div>
    <div class="col-lg-4" style="margin-top: 100px">

        <div class="col-lg-2" style="width: 200px; height: 400px; margin-right: 5px">
            <h1 style="text-align: center">Known Words</h1>
            <input placeholder="Search an unknown word" type="search" autocomplete="true">
            <div id="known_words" style="width: inherit; height: inherit">
                <ul class="cloud">
                    {% for word in known_words %}
                        <li><a title="" href="#Emien{{ word }}">{{ word | lower }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-lg-2" style="width: 200px; height: 400px; margin-left: 5px">
            <h1 style="text-align: center">Unknown Words</h1>
            <input placeholder="Search an unknown word" type="search" autocomplete="true">
            <div id="known_words" style="width: inherit; height: inherit">
                <ul class="cloud">
                    {% for word in unknown_words %}
                        <li ><a title="" href="#Emien{{ word }}">{{ word | lower }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

