{% extends 'books/base.html' %}
{% load static %}
{% block title %}
    {{ request.user.username }}'s Bookshelf
{% endblock %}

{% block body %}
    <div class="col-lg-9" style="margin-top: 2%">
        <div class="page-header">
            <h1>{{ book.book_title | capfirst}}</h1>
        </div>
        <p style="overflow: auto; height: 400px">{% for word, meaning, color in book_content %}<span title="{{ meaning }}"
                                                               style="color: {{ color }}">{{ word }} </span>{% endfor %}
        </p>
    </div>
    <div class="col-lg-3 bs-component" style="margin-top: 5.6%">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#known" data-toggle="tab" aria-expanded="true">Known</a></li>
            <li class=""><a href="#unknown" data-toggle="tab" aria-expanded="false">Unknown</a></li>
            <li class=""><a href="#suggestion" data-toggle="tab" aria-expanded="false">Suggested</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="known">
                <input style='height: 40px; border-radius: 10px; margin: 5px 0px;'
                           type="text" id="myInput" onkeyup="console.log(this.value)"
                           placeholder="Search for a known word">
                <div id="words" style="height: 400px">
                    <ul class="cloud">
                        {% for word, mean in known_words.items %}
                            <li><a title="{{ mean }}" >{{ word | lower }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="unknown">
                <input style='height: 40px; border-radius: 10px; margin: 5px 0px;'
                           type="text" id="myInput" onkeyup="console.log(this.value)"
                           placeholder="Search for an unknown word">
                <div id="words" style="height: 400px">
                    <ul class="cloud">
                        {% for word in unknown_words %}
                            <li><a title="" href="#Emien{{ word }}">{{ word | lower }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="suggestion">
                <div id="words" style="height: 420px">
                    <ul class="cloud">
                        {% for word, mean in known_words.items %}
                            <li><a title="{{ mean }}"
                                   href="javascript:alert('Hello World!');">{{ word | lower }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}